In [1]:
#---------Column Selection----------
import pandas as pd

In [2]:
d={'one':pd.Series([1,2,3], index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [6]:
#--------Column addition----------

d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

df=pd.DataFrame(d)

In [4]:
#Adding  new col to an existing DataFrame object with 
#col label by passing new series

print("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,20],index=['a','b','c'])
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   20.0
d  NaN    4    NaN

In [5]:
print("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   20.0  23.0
d  NaN    4    NaN   NaN

In [7]:
#-------------column deletion-----------

#Using the previous DataFrame,we will delete a column
#Using del function
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d']),
  'three':pd.Series([10,20,30],index=['a','b','c'])}

df=pd.DataFrame(d)
print("Our dataframe is:")
print(df)

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4

In [8]:
#using del function
print("Deleting the first column using DEL function:")
del df['one']
print(df)

Deleting the first column using DEL function:
   three  two
a   10.0    1
b   20.0    2
c   30.0    3
d    NaN    4

In [9]:
#using pop function
print("deleting another column using POP function:")
x=df.pop('two')
print(x)
print(df)

deleting another column using POP function:
a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [12]:
#-------Row Selection,Addition, and Deletion-----------

#-----Selection by Label------------

d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [14]:
#----------Selection by integer location------------

d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

df=pd.DataFrame(d)
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [15]:
#------------Slice Rows-----------

d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

df=pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [17]:
#---------------Addition of Rows-----------

df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

df3=df.append(df2)
print(df3)

df4=df.append(df2,ignore_index=True)
print(df4)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [19]:
#----------------Deletion of Rows------------

df=pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

df=df.append(df2)

#Drop rows with label 0
df=df.drop(0)
print(df)

   a  b
1  3  4
1  7  8