In [1]:
import pandas as pd

In [2]:
#Create an empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#--------------------Create a DataFrame from lists----------------------------

data=[11,12,13,14,15]
df=pd.DataFrame(data)
print(df)

    0
0  11
1  12
2  13
3  14
4  15

In [4]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [5]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [6]:
#-------------------Create a DataFrame from Dict of ndarrays/Lists------------

data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data)
print(df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [7]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [8]:
#--------------Create a DataFrame from list of Dicts-----------------

data =[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [9]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [12]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]

#With two column indices,values same as dictionary keys
df1=pd.DataFrame(data,index=['first','second'],columns=['a','b'])

#With two column indices with one index with other name
df2=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a   b
first   1   2
second  5  10

In [13]:
#------------Create a DataFrame from Dict of Series--------------

d={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4